<mat-card class="container"
  ><strong>{{ moment._id ? "Update moment" : "Add moment" }}</strong></mat-card
>
<mat-card class="container">
  <mat-grid-list cols="2" rowHeight="100px" class="inner-container">
    <mat-grid-tile colspan="1">
      <mat-form-field class="full-width">
        <label>Title</label>
        <input matInput [(ngModel)]="moment.title" type="text" />
      </mat-form-field>
    </mat-grid-tile>
    <mat-grid-tile>
      <mat-form-field class="full-width">
        <label>Tags</label>
        <mat-chip-list #chipList aria-label="tag selection">
          <mat-chip
            *ngFor="let tag of moment.tags"
            [selectable]="selectable"
            [removable]="removable"
            (removed)="remove(tag)"
          >
            {{ tag }}
            <mat-icon matChipRemove *ngIf="removable">cancel</mat-icon>
          </mat-chip>
          <input
            [matChipInputFor]="chipList"
            [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
            [matChipInputAddOnBlur]="addOnBlur"
            (matChipInputTokenEnd)="add($event)"
          />
        </mat-chip-list>
      </mat-form-field>
    </mat-grid-tile>
  </mat-grid-list>

  <app-file-upload
    [file]="moment.file"
    (getPath)="imagePath($event)"
  ></app-file-upload>
  <mat-card-actions class="button-row">
    <button
      mat-raised-button
      class="submit-button"
      color="primary"
      (click)="addMoment()"
    >
      {{ moment._id ? "Update" : "Submit" }}
    </button>
  </mat-card-actions>
</mat-card>
