.mat-toolbar.mat-primary {
  background: #050a23;
  color: #fff;
  height: 250px;
  text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}

mat-toolbar .logo img {
  max-width: 100px;
  width: auto;
  height: auto;
}

.signup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  border-top-left-radius: 60px;
  margin-top: -60px;
  background: white;
}

h1.row.signInText {
  font-size: 35px;
  font-weight: bold;
  margin-top: 50px;
}

mat-card {
  box-shadow: none !important;
  text-align: center;
}

mat-form-field {
  display: block;
}

.signup-row {
  max-width: 800px;
  min-width: 300px;
  width: 50% !important;
}

.form-fields {
  display: flex;
  padding-top: 10px;
  padding-left: 10px;
}

.full-width {
  width: 85%;
}

.icon {
  color: white;
}

.mat-icon {
  padding-right: 15px;
}

.mat-flat-button.mat-primary,
.mat-raised-button.mat-primary,
.mat-fab.mat-primary,
.mat-mini-fab.mat-primary {
  color: #fff;
  margin-top: 25px;
  width: 150px;
  height: 45px;
  border-radius: 24px;
  background-color: #050a23;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.support {
  padding-top: 25px;
}
