.container {
  width: 100%;
  height: 100vh;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  text-align: center;
}

.mat-expansion-panel-header {
  background-color: deepskyblue;
}

.centerProfile {
  display: block;
  padding: 20px;
  font-size: 30px;
  text-align: left;
}

.logo img {
  max-width: 100px;
  width: auto;
  height: auto;
}

.spacer {
  margin: 20% 0 25% 20%;
}

.sidenav-content {
  height: 100%;
  width: auto;
  margin: 1%;
}

.sidenav {
  padding: 20px;
  min-width: 300px;
}

.right {
  position: absolute;
  top: 8px;
  right: 34px;
}

.backg {
  font-weight: bold;
  list-style-type: disc !important;
  left: -20px;
  position: relative;
}

.plist {
  padding: 12px;
}
